<div class="table-container" *ngIf="items && items.length; else noItemsTemplate">
  <table mat-table [dataSource]="items">
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Item name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>amount</th>
      <td mat-cell *matCellDef="let element">{{element.amount}}</td>
    </ng-container>


    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element; let i = index"><mat-icon fontIcon="delete" (click)="deleteItem(element._id, i)"></mat-icon></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
</div>

<ng-template #noItemsTemplate>
  <p>No items available in this plan.</p>
</ng-template>

<div class="add-item-section">
  <h3>Add New Item</h3>
  <form (ngSubmit)="addItem()">
    <mat-form-field appearance="fill">
      <mat-label>Item Name</mat-label>
      <input matInput [(ngModel)]="newItem.name" name="name" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Amount</mat-label>
      <input matInput type="number" [(ngModel)]="newItem.amount" name="amount" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Add Item</button>
  </form>
</div>
